.authLayout {
  width: 100%;
  // height: 100%;
  display: flex;
  justify-content: center;

  .authContainer {
    width: 90rem;
    height: 64rem;
    max-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .content {
    flex-grow: 1;
  }
}
