.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .itemImage {
    width: 21.5625rem;
    height: 19.6875rem;
    flex-shrink: 0;
  }

  .itemTitle {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
    box-sizing: border-box;

    a,
    p {
      flex-shrink: 0;
      margin: 0;
    }

    .iconBox {
      display: flex;
      margin-top: auto;
    }
  }
}
