.formBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  gap: 2.5rem;

  .textBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 28.75rem;
    width: 100%;
    gap: 2.5rem;

    .signIn {
      color: #333;
      text-align: center;
      margin-top: 0;
      margin-bottom: 0;

      font-size: 2rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}
